{{#podatki}}
<ul>
    <li data-type="media" data-width="640" data-height="420" data-url="{{image}}"></li>
    <li data-thumbnail-path="{{image}}"></li>
    <li data-thumbnail-text="" data-thumbnail-text-title-offset="35" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7">
        <p class="largeLabel">{{title}}</p>
        <p class="smallLabel">{{description}}</p>
    </li>
    <li data-info="O">
        <p class="mediaDescriptionHeader">{{title}}</p>
        <p class="mediaDescriptionText">{{description}} </p>
    </li>

</ul>
{{/podatki}}