{{#spored}}
<li onclick="openMovie('{{ID_Film}}')" style="cursor:pointer;">
   
        <div class="top">
            <span class="cas">
                 <span class="cas-icon"></span>
                 {{ura}}
            </span>
            <span class="dvorana">
                <span class="dvorana-icon"></span>
                 {{dvorana}}
            </span>
        </div>
        <div class="bottom">
            <strong> {{naslov_SLO}}</strong><span> - {{naslov_ANG}}</span>
        </div>
        <div class="border-bottom"></div>


</li>
{{/spored}}